@import 'tailwindcss';



:root {
	--dark: #161c21;
	--less-dark: #2e3944;
	--accent: #124e66;
	--less-light: #4a5568;
	--light: #d3d9d4;
}

/* smooth theme transitions for surface/text */
html {
	color-scheme: light dark; /* improves native form controls, etc. */
}


@media (prefers-color-scheme: dark) {
	:root {
		--dark: #151a1f;
		--light: #d0d0d0;
	}
}

body {
	background: var(--dark);
	color: var(--light);
	font-family: Arial, Helvetica, sans-serif;
}

