@import 'tailwindcss';
@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:ital,wght@0,300..700;1,300..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cabin:ital,wght@0,400..700;1,400..700&display=swap');

:root {
	--dark: #161c21;
	--less-dark: #2e3944;
	--accent: #124e66;
	--less-light: #4a5568;
	--light: #d3d9d4;
}

/* smooth theme transitions for surface/text */
html {
	color-scheme: light dark; /* improves native form controls, etc. */
}


.button-teal-outline {
	background-color: transparent;
	color: var(--light);
	border: 2px solid var(--light);
}

@media (prefers-color-scheme: dark) {
	:root {
		--dark: #151a1f;
		--light: #d0d0d0;
	}
}

body {
	background: var(--light);
	color: var(--dark);
	font-family: 'Cabin', Arial, Helvetica, sans-serif;
}
